{% extends 'scale/base.html' %} 
 
{% block content %} 
 

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>BMI測定</title>
</head>

<body>
    <h1>BMI測定</h1>
    {% if request.user.is_authenticated %} 
    <form action="#" method="post">
    <h1>ユーザーフォーム</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">測定</button>
        <p>適正体重:{{ healthy_weight }}</p>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <img src="data:image/png;base64, {{ graph | safe }} " alt="">

    </form>
    {% endif %} 

</body>
</html>
{% endblock %} 
